main {
    padding-top: 50px;
}

/*-----------Pages------------*/

.FormPages {
    margin: 0;
    padding: 0;
    background: url(/assets/ryan-jacobson-cXUOQWdRV4I-unsplash.jpg) no-repeat center top;
    background-size: cover;
}


.buttonLinks {
    border-radius: 4px;
    background-color: var(--terciary-color);
    border: none;
    flex-grow: 1;
    height: 40px;
    padding: 0px;
    margin-bottom: 10px;
    margin-left: 6px;
}

.buttonLinks:hover {
    background-color: var(--lightgrey);
    transition: 0.5s ease;
}

.buttonLinks a {
    text-decoration: none;
    font-size: 17px;
    color: var(--primary-color);
    margin-right: 20px;
    width: 102px;
}

.buttonLinks a span {
    margin-right: 15px;
    margin-top: 3px;
    width: 17px;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
}

#orSign {
    font-size: 18px;
    margin-top: 15px;
}

/*-----------Contacto------------*/

@media (min-width: 700px) {
    .contactPage{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
}

iframe {
    width: 100%;
    height: 100%;
}


#orContactHere {
    font-size: 18px;
}

.contactBox {
    width: 90%;
    max-width: 748px;
    height: auto;
    margin: 120px auto;
    background-color: var(--terciary-color);
    opacity: 80%;
    box-sizing: border-box;
    border-radius: 28px;
    padding: 28px;
}

.contactBox form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contactTitle{
    margin-bottom: 30px;
}

.contactBox textarea {
    width: 100%;
    height: 65px;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--darkgrey);
    outline: none;
    
}

.contactBox input {
    width: 90%;
    height: 35px;
    margin-bottom: 20px;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--darkgrey);
    outline: none;
}

#divButtonEnviar {
    text-align: right;
    padding: 0;
    margin: 0;
    height: 52px;
}

#bottonEnviar{
    border-radius: 15px;
    background: var(--grey);
    color: var(--terciary-color);
    width: 100px;
    height: 100%;
}

#bottonEnviar:hover {
    background-color: var(--primary-color);
    transition: 0.5s ease;
}

.contactBox form a {
    font-size: 12px;
    line-height: 20px;
    color: var(--primary-color);
    margin-right: 28px;
    display: flex;
    justify-content: space-between;
    
}

.infoBox {
    width: 90%;
    max-width: 748px;
    background-color: var(--terciary-color);
    opacity: 80%;
    height: auto;
    padding: 28px;
    margin: 120px auto;
    border-radius: 28px;
    box-sizing: border-box;
    text-align: center;
}

.infoBox ul {
    list-style: none;
    padding: 0;
}

.infoBox ul li {
    padding: 0.5em;
}


/*-----------Registrarse------------*/

/* .signUpBox {
    width: 90%;
    max-width: 548px;
    height: auto;
    margin: 50px auto;
    background-color: var(--terciary-color);
    opacity: 80%;
    box-sizing: border-box;
    border-radius: 28px;
    padding: 28px;
}

.signUpTitle{
    margin-bottom: 30px;
}

.signUpBox input {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--primary-color);
    outline: none;
}

#bottonSignUp{
    margin-top: 20px;
    border-radius: 15px;
    background: var(--grey);
    color: var(--terciary-color);
    width: 100%;
    height: 52px;
}

#bottonSignUp:hover {
    background-color: var(--primary-color);
    transition: 0.5s ease;
}

.signUpBox form a {
    font-size: 12px;
    line-height: 20px;
    color: var(--primary-color);
    margin-right: 28px;
    display: flex;
    justify-content: space-between;  
}  */

