@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root{
        --primary-color: #010D0C;
        --secondary-color:  #8a181b;
        --terciary-color: #ffffff;
        --grey: #4C4C4D;
        --darkgrey: #303335;
        --numbers: #F3945D;
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geologica', sans-serif;
}

#errorContainer{
    background-color: var(--secondary-color);
    height: 100vh;  
}

